<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0, minimal-ui" />
        <link rel="stylesheet" type="text/css" href="/seat-select/css/styles.css" />
       
    </head>
    <body>
      <div class='main'>
          <header class='header'>
              <h1 class='header-logo'>Air Slingshot</h1>
          </header> 
<div class="content">
  <form class="form-content reservation" onsubmit="getReservation(event)" method='GET'>
    <h1>Please Enter your Reservation ID:</h1>

    <div class="res-form">
      <label>ID#</label>
      <input placeholder="XXXXXXXX" required>
      <p>-</p>
      <input type="text" placeholder="XXXX" required>
      <p>-</p>
      <input type="text" placeholder="XXXX" required>
      <p>-</p>
      <input type="text" placeholder="XXXX" required>
      <p>-</p>
      <input type="text" placeholder="XXXXXXXX" required>
    </div>
    <button class="button confirm" type="submit">Search</button>
    <div id="error"></div>
  </form>
</div>
</div>
<p class='footer-logo'>The only way to fly!</p>
<script src="./seat-select/js/view-reservation.js"></script>
</body>
</html> 