<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0, minimal-ui" />
        <link rel="stylesheet" type="text/css" href="./css/styles.css" />
        <title>Confirmed!</title>
        <ul class="nav">
            <li><a class="nav-item" href="./seat-select">Book</a></li>
            <li><a class="nav-item" href="/view-reservation">Reservations</a></li>
            <li><a class="nav-item" href="/admin">Admin</a></li>
    </ul>
    </head>
    <body>
        <div class='main'>
            <header class='header'>
                <h1 class='header-logo'>Air Slingshot</h1>
            </div>
            <div class="content">
                <form class="form-content reservation" onsubmit="getReservation(event)" method='GET'>
                    <h1>Please Enter your Reservation Email:</h1>
                
                    <div class="res-form">
                      <label>Email</label>
                      <input class="" type="text" placeholder="email" required>
                    </div>
                    <button class="button confirm" type="submit">Search</button>
                  </form>
            </div>
        </div>
        <p class='footer-logo'>The only way to fly!</p>
        
        <script src="./js/view-reservation.js"></script>
    </body>
</html>